<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category.charAt(0).toUpperCase() + category.slice(1) %></title>
  </head>

  <body>
    <%- include('./partials/nav') %>
    <h1><%= category.charAt(0).toUpperCase() + category.slice(1) %></h1>
    <ul>
      <% menuItems.forEach(x=> { %>
      <li>
        <h3><%= x.name %> - <%= x.price %>$</h3>
        <p>Rating: <%= x.rating %></p>
        <small><%= x.details %></small>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
