<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= RESTAURANT.name %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= RESTAURANT.name %></h1>
    <h2><%= msg %></h2>
    <br />
    <h4>Address: <%= RESTAURANT.address %></h4>
    <h4>Phone: <%= RESTAURANT.phone %></h4>
  </body>
</html>
